.idea/
.git*
.pre-commit-config.yaml
/\.pre-commit-config.yaml
Makefile
/Makefile
tmp
/*.tgz
/*.tar
/*.tar.gz
/*.tar.xz
/*.tar.bz2
docs/
scripts/
samples/
tests/
__snapshot__/
values.yaml.example
/values.yaml.example
.gitignore
.gitlab-ci.yml
